*{
    scroll-behavior: smooth;
    /* border: 2px solid rgba(255, 0, 0, 0.411); */
}
.heading {
    text-align: center;
    margin-bottom: -40px;
    font-size: 3em;
}
 .noticeboard{
    background: #9aa1a726;
    padding: 20px;
}

#ceo-message .container .main{
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    border: 4px groove #660000;
    padding: 50px;
    background: #260a0829;
    border-radius: 130px;
    color: bla2;
    font-family: cursive;
    box-shadow: 15px 15px 20px  #660000b4;
    width: 80vw;
    margin: auto;
}

#ceo-message .container .main img{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 2px groove #660000b4;
}

@media (max-width:500px){
    #ceo-message .container .main{
        scale: .7;
    }
   

}

#ceo-message .container .main img  {
    border: 7px groove #660000;
     width: 250px;
              height: 250px;
              border-radius: 250px;
}
@media (max-width:400px){
    #ceo-message .container .main img{
    width: 50vw;
    height: 50vw;
    border-radius: 50vw;
    }
   

}